body{
	background-color:#3B0B17;
	padding:10%;
	}
#box_fundo{
	border: solid 1px;
	width:200px;
	height:200px;	
	margin:auto;
	background-color:white;
	opacity:0.2;
	border-radius:10px;
}
#container_dados{l

	
	border:1px solid;
	width:200px;
	height:200px;
	margin:auto;
	position:relative;
	top:-202px;	
	text-align:center;
	padding:10px;
		}
#campos{
	font-size:20px;
	color:#fff;
	font-family:roboto;
	
}
#botoes{

	padding:10px;
	opacity:0.9;
}


	
