body{
	background-color:#8A084B;
	padding:10%;
	}
#box_fundo{
	border: solid 1px;
	width:200px;
	height:200px;	
	margin:auto;
	background-color:white;
	opacity:0.2;
	border-radius:10px;
}
#container_dados{l

	
	border:1px solid;
	width:200px;
	height:200px;
	margin:auto;
	position:relative;
	top:-202px;	
	text-align:center;
	padding:10px;
		}
#campos{
	font-size:12px;
	font-family:'roboto';
	font-size:18px;
	color:#fff;
	
}
#botoes{

	padding:10px;
	opacity:0.9;
}
.username{
	background-image:url("http://localhost:8081/mescla/user.png");
	background-repeat:no-repeat;
	background-size:15px;
	padding-left:20px;
	border-radius:5px;
	color:#a4a4a4;
}
.password{
        background-image:url("http://localhost:8081/mescla/password.png");
        background-repeat:no-repeat;
        background-size:15px;
        padding-left:20px;
        border-radius:5px;

}


	
